.education-background {
    display: flex;
  }
  
  .timeline-background {
    width: 50%;
  }
  
  .education-item {
    display: flex;
    width: 50%;
    height: 120px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .education-item:hover {
    background-color: paleturquoise;
  }
  
  .education-ball {
    position: absolute;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    background: lightsteelblue;
  }
  
  .education-info {
    padding: 24px;
    font-size: 10pt;
    text-align: center;
  }
  
  .education-info h4,
  p {
    margin: 0;
    text-align: center;
  }
  
  .highlight-background {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: calc(100%);
    background: lightsteelblue;
    position: -webkit-sticky;
    position: sticky;
    padding: 12px;
    justify-content: center;
    align-items: center;
    margin: 32px;
  }
  
  .highlight-background h1,
  h4,
  p {
    text-align: center;
  }
  